<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkerboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div id="container">
        {% for y in range(height) %}
            <div class="row">
                {% for x in range(width) %}
                    <div class="box" style="background-color: {{ color1 if (x + y) % 2 == 0 else color2 }};"></div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</body>
</html>
